{% extends "index.html" %}
{% load static %}
  
   {% block content %}
   <div id="main_service">
         <!-- ======= Services Section ======= -->
       <section id="services" class="services" style="margin-left: 40px; margin-right:40px">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h2>Services</h2>
           
          </header>
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box blue">
                <i class="ri-discuss-line icon"></i>
                <h3>Web Development</h3>
                <p>We create custom web applications that help businesses reach their goals.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-box orange">
                <i class="ri-discuss-line icon"></i>
                <h3>Mobile Apllicatins</h3>
                <p>We develop mobile applications that are intuitive and user-friendly.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-box green">
                <i class="ri-discuss-line icon"></i>
                <h3>E-Commerce Solutions</h3>
                <p>We provide e-commerce solutions that help businesses sell their products online.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="service-box red">
                <i class="ri-discuss-line icon"></i>
                <h3>Digital Marketing</h3>
                <p>Digital marketing refers to promoting products or services through online channels such as search engines, social media, email, websites, and mobile apps.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
              <div class="service-box purple">
                <i class="ri-discuss-line icon"></i>
                <h3>Data Science</h3>
                <p>Data science involves the use of statistical and computational methods to extract insights and knowledge from data.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
              <div class="service-box pink">
                <i class="ri-discuss-line icon"></i>
                <h3>Ui/Ux Design</h3>
                <p>UI/UX design involves creating visually appealing and user-friendly interfaces for digital products such as websites, apps, and software.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
  
          </div>
  
        </div>
  
      </section><!-- End Services Section -->

        <!-- footer section -->

  <section id="footer">
    <div>
        <footer>
            <div class="footer">
            <div class="row">
            <ul>    
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://twitter.com/?lang=en-in"><i class="fa fa-twitter"></i></a></li>
           </ul>
            </div>
            
            <div class="row">
            <ul >
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Career</a></li>
            </ul>
            </div>
            
            <div class="text-center" >
            INFERNO Copyright © 2021 Inferno - All rights reserved || Designed By: Krishna 
            </div>
            </div>
            </footer>
            
    </div>
    
    </section>


</div>


   {% endblock %}