asgiref==3.6.0
beautifulsoup4==4.11.2
crispy-bootstrap4==2022.1
crispy-bootstrap5==0.7
distlib==0.3.6
Django==4.1.6
django-bootstrap4==22.3
django-cors-headers==3.14.0
django-crispy-forms==2.0
django-jazzmin==2.6.0
django-uni-form==0.9.0
djangorestframework==3.14.0
filelock==3.9.0
helper==2.5.0
mysqlclient==2.1.1
platformdirs==2.6.2
pytz==2022.7.1
PyYAML==6.0
soupsieve==2.4
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.17.1
virtualenvwrapper-win==1.2.7